# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.env

# Databases
*.db
*.sqlite3
chroma_db/

# Node
node_modules/
dist/
build/
.npm/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
notes.md
interview_prep*.md
